* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel {
    overflow: hidden;
    position: relative;
}
.carousel__track {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel__slide {
    
}
.carousel__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateY(50%);
    z-index: 1;
}
.carousel__previous {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.carousel__next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}