* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}
.carousel__track {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}
.carousel__track.no-transition {
    transition: transform 0s !important;
}

.carousel__slide {
    height: 100%;
}
.carousel__slide picture {
    width: 100%;
    height: 100%;
    display: block;
}
.carousel__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    z-index: 1;
}
.carousel__dots button {
    background-image: url(assets/circle-regular-full.svg);
    height: 20px;
    width: 20px;
    background-color: transparent;
    filter: invert();
    border: none;
    cursor: pointer;
}
.carousel__dots button.carousel__dots--active {
    background-image: url(assets/circle-solid-full.svg);
}

.carousel__previous, .carousel__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    filter: invert();
    border: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
}
.carousel__previous {
    left: 0;
    background-image: url(assets/chevron-left-solid-full.svg);
}
.carousel__next {
    right: 0;
    background-image: url(assets/chevron-right-solid-full.svg);
}